[Unit]
Wants=network-online.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/root/hardening/orchestrator
ExecStart=python3 -m pipenv run ./orchestrator/main.py
EnvironmentFile=/root/hardening/hardnet1/node-specific/orchestrator/orchestrator.env

[Install]
WantedBy=multi-user.target
